[build]
target = "riscv64gc-unknown-none-elf"


[unstable]
build-std = ["core", "compiler_builtins", "alloc"]
build-std-features = ["compiler-builtins-mem"]

[target.riscv64gc-unknown-none-elf]
rustflags = [
    # "-C", "link-arg=--emit-relocs",
    "-C", "link-arg=-Tlink.map",
    "-C", "link-arg=-pie",
    "-C", "code-model=medium",
    "-C", "relocation-model=pic",
    "-C", "target-feature=+zihintpause",
]

runner = """
qemu-system-riscv64
  -machine virt
  
  -chardev stdio,id=uart0 
  -serial chardev:uart0 
  
  -device pci-testdev
  
  -monitor vc 
  -display gtk 
  -device VGA,id=vgadev


  -drive if=none,format=raw,readonly=off,file=fs.img,id=drv0 
  -device virtio-blk-pci,drive=drv0 

  -netdev user,id=net0 
  -device i82559c,netdev=net0

  -chardev vc,id=pci_uart 
  -device pci-serial,chardev=pci_uart


  -kernel
""" 

 

